*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  padding: 20px;
  width: 120px;
  background-color: red;
}
.box2{
  background-color: green;
}
.box3{
  background-color: blue;
}
